@import url('https://fonts.googleapis.com/css2?family=Itim&family=Risque&family=Skranji:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
    font-family: "Skranji", system-ui;
    background: linear-gradient(to bottom, #731919, #E52B2B, #731919);
    overflow-x: hidden;
}

.title {
    margin-bottom: 0;
    font-size: 84px;
    font-weight: 300;
    color: #F3C651;
    display: flex;
    justify-content: center;
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.5);
}

.subtitle {
    margin-top: 5px;
    font-family: "Itim", cursive;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
}

.logo>img {
    position: absolute;
    top: 3px;
    left: 3px;
    margin: 0;
    width: 226px;
    height: 226px;
}

#izq-sup {
    position: absolute;
    top: -150px;
    left: -240px;
    transform: rotate(135deg);
    width: 540px;
    height: 540px;
}

#der-sup {
    position: absolute;
    top: -150px;
    right: -240px;
    transform: rotate(60deg);
    width: 540px;
    height: 540px;
}

#izq-inf {
    position: absolute;
    top: 500px;
    left: 20px;
    z-index: -1;
    transform: rotate(45deg);
    width: 540px;
    height: 540px;
}

#der-inf {
    position: absolute;
    top: 500px;
    right: 20px;
    z-index: -1;
    transform: rotate(135deg);
    width: 540px;
    height: 540px;
}

.botones-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 100px;
    z-index: 10;
}

.btn-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 220px;
    height: 60px;
    background-color: #FDFFF0;
    color: #000000;
    font-family: 'Skranji', system-ui;
    font-size: 25px;
    font-weight: 200;
    border-radius: 50px;       
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,1);
    transition: transform 0.2s ease;
}

.btn-menu:hover {
    transform: scale(1.05);
}

.plato-portada {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    z-index: -1;
    width: 1068px;
    height: 577px;
    border-radius: 50px;
}

#menu {
    margin-top: 150px;
    font-size: 75px;
}

.menu-tarjetas-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 40px auto;
    padding: 0 20px;
}

.tarjeta-btn {
    background-color: #F0CF65;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 20px; 
    overflow: hidden;
    box-shadow: 5px 6px 7px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease;
}

.tarjeta-btn:hover {
    transform: translateY(-10px);
}


.tarjeta-btn img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover; 
    margin: 0;
    padding: 0;
    border: none;
}

.tarjeta-texto {
    background-color: #F0CF65;
    width: 100%;
    min-height: 180px; 
    padding: 20px 15px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    margin: 0;
}

.tarjeta-texto > h3 {
    font-family: 'Skranji', system-ui;
    font-size: 25px;
    color: #000000;
    margin: 0 0 10px 0;
}

.tarjeta-texto > p {
    font-family: 'Itim', cursive;
    font-size: 20px;
    color: #000000;
    margin: 0;
    line-height: 1.3;
}

.btn-ver-menu {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 220px;
    height: 40px;
    margin: 60px auto 80px auto; 
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Skranji', system-ui;
    font-size: 20px;
    padding: 15px 40px;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
    transition: transform 0.2s ease;
}

.btn-ver-menu:hover {
    transform: scale(1.05);
}

.nosotros-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin: 100px auto;
    padding: 0;
    max-width: 1200px;
}

.nosotros-img {
    width: 526px; 
    height: 526px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}

.nosotros-texto-container {
    max-width: 550px;
    text-align: center;
}

.nosotros-titulo {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 75px;
}

.nosotros-parrafo {
    font-family: "Skranji", system-ui;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 1.5;
    margin: 0;
}

.gustos-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin: 120px auto;
    padding: 0 40px;
    max-width: 1200px;
}

.gustos-texto-izq {
    max-width: 450px;
}

.gustos-titulo {
    text-align: left;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 75px;
    line-height: 1.1;
}

.gustos-parrafo {
    font-family: "Skranji", system-ui;
    font-size: 23px;
    color: #FFFFFF;
    line-height: 1.5;
    margin: 0;
}

.gustos-caja-amarilla {
    background-color: #F0CF65;
    border-radius: 40px;
    padding: 60px;
    max-width: 450px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.gustos-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.gustos-numero {
    background-color: #000000;
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Skranji", system-ui;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
}


.gustos-item-titulo {
    margin: 0;
    font-family: "Skranji", system-ui;
    font-size: 20px;
    color: #000000;
}

.gustos-item-texto {
    margin: 0;
    font-family: 'Risque', serif;
    font-size: 17px;
    color: #000000;
    line-height: 1.4;
}


.comunidad-section {
    text-align: center;
    margin: 100px auto 60px auto;
    padding: 0 20px;
    max-width: 1300px;
}

.comunidad-titulo {
    font-size: 70px;
    margin-bottom: 80px;
}

.comunidad-cards {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 40px;
}

.comunidad-card {
    flex: 1;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comunidad-avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 5px 6px 12px rgba(0, 0, 0, 0.4);
}

.comunidad-avatar > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comunidad-card > h3 {
    font-family: 'Skranji', system-ui;
    font-size: 25px;
    font-weight: 299;
    max-width: 500px;
    color: #FFFFFF;
    margin: 0 0 12px 0;
}

.comunidad-card > p {
    font-family: 'Risque', cursive;
    font-size: 17px;
    font-weight: 299;
    color: #FFFFFF;
    line-height: 1.4;
    margin: 0;
    max-width: 320px;
}

.comunidad-decoracion-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 40px auto 280px auto;
}

.comunidad-decoracion-lateral {
    width: 238px;
    height: auto;
}

.comunidad-decoracion-centro {
    width: 464px;
    height: auto;
}


.contacto-section {
    margin: 80px auto 100px auto;
    padding: 0 20px;
    max-width: 1100px;
}

.contacto-titulo {
    font-size: 70px;
    margin-bottom: 50px;
    text-align: center;
}

.contacto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.contacto-info {
    flex: 1;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    text-align: center;
}

.contacto-bloque > h3 {
    font-family: 'Skranji', system-ui;
    font-size: 25px;
    font-weight: 299;
    color: #FFFFFF;
    letter-spacing: 1px;
    margin: 0 0 8px 0;
}

.contacto-bloque > p {
    font-family: 'Itim', cursive;
    font-size: 18px;
    color: #FFFFFF;
    margin: 0;
    line-height: 1.3;
}

.contacto-mapa {
    flex: 1.2;
    height: 320px;
    max-width: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    background-color: #E5E3DF;
    margin-bottom: 0;
}

#nosotros {
    scroll-margin-top: 100px;
}

#menu {
    scroll-margin-top: 40px;
}

#contacto {
    scroll-margin-top: 100px;
}

.redes-sociales-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; 
    margin-top: 0;
    margin-bottom: 50px;
    flex-wrap: wrap; 
}

.btn-social {
    display: flex;
    align-items: center;
    gap: 10px; 
    padding: 12px 25px;
    border-radius: 30px;
    font-family: 'Skranji', system-ui;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), filter 0.3s ease, box-shadow 0.3s ease; 
}

.btn-social img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.whatsapp { background-color: #25D366; }
.instagram { background-color: #FFFFFF; color: black; }
.facebook { background-color: #1877F2; }
.tiktok { background-color: #000000; }

.btn-social:hover {
    transform: translateY(-8px) scale(1.05);
    filter: brightness(1.1);
    box-shadow: 0 10px 15px rgba(0,0,0,0.6);
}